*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  letter-spacing: 0em;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  padding: 20px;
}